#spotLogo{
    height: 60px;
    width: auto;
}

@media (max-width: 765px){
    #spotLogo{
        height: 30px;
        width: auto;
    }
}

.noMarginX{
    margin-top: 0;
    margin-bottom: 0;
}

.contentSize{
    max-width: 450px;
}

.h6{
    font-size: 14px !important;
}

p.longLine{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgba(100, 97, 97, 0.445); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

span.longLine{
    background:#fff; 
    padding:0 20px; 
}

.form-control{
    border-color: rgba(100, 97, 97, 0.445);
    border-radius: 0;
}

/* .btn-light{
    border: 3px 
} */

.h7{
    font-size: 8px !important;
}